GOODFLY_SMTP_HOST=smtp.seuprovedor.com
GOODFLY_SMTP_PORT=587
GOODFLY_SMTP_SECURE=false
GOODFLY_SMTP_USER=contato@goodfly.com.br
GOODFLY_SMTP_PASS=sua_senha_smtp
GOODFLY_SMTP_FROM=Good Fly <contato@goodfly.com.br>
GOODFLY_CONTACT_RECIPIENT=contato@goodfly.com.br
